h1 {

    color: greenyellow;

}

ol li {
    color: #46484c;
}

body {
    background-color: #fffbf7;
}

p {
    color: gray;
}

button{
    background-color: #025157;
    color:#fff;
}

strong{
    color: chocolate;
}