h1 {

    color: greenyellow;

}

ol li {
    color: #46484c;
}

body {
    background-color: #fffbf7;
}

p {
    color: gray;
}

button{
    background-color: #025157;
    color:#fff;
}

strong{
    color: chocolate;
}

ul {
    display: inline-flex;
    list-style: none;
    padding: 0;
    
  } 
  .block,
  li {
    border: 2px solid blue;
    padding: .5em;
    content: 20px;
    width: 350px;
    height: 30px;
  }